* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 40px 30px;
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    padding: 10px 25px;
}

a {
    color: black;
    text-decoration: none;
}

.bold {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.4rem;
}

.subheading {
    margin: 15px;
    font-size: 14px;
    letter-spacing: 0.1rem;
    color: grey;
}

.get-in-touch a {
    background-color: rgb(193,86,39);
    padding: 10px 20px;
    border-radius: 5px;
}

.video-section {
    position: relative;
    height: 100vh;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 100vh; 
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
}

h1 {
    font-size: 90px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 0;
    margin-top: 230px; /* Adjust to provide space below the navbar */
}

.text {
    width: 45%;
    padding-right: 20px;
}

.text h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    color:  rgb(26,65,34);
}

.text h1 {

    font-weight: bold;
    margin-bottom: 15px;
    color:  rgb(26,65,34);

}

.text p {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
    color:  rgb(26,65,34);
}

.button {
    display: inline-block;
    background-color: rgb(193,86,39);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 200px;
}

.image {
    width: 50%; /* Reduced width */
    text-align: center;
    margin-right: 0;
   
}

.image img {
    max-width: 100%;
    height: 450px;
    border-radius: 290px 0 0 0;
    margin-right: 0;
}
.parent {
display: flex;
align-items: center; 
margin-top: 120px;
}

.left {
flex: 1;
padding-right: 10px; /* Adjust as needed */

}

.right {
flex: 2;
margin-left: 120px;
margin-top: 30px;
}

.left img {
max-width: 100%;
margin-left: 60px;
border-radius: 200px 200px 0 0;
height: 700px;
}

ul {
list-style-type: none;
padding: 0;
}

button {
margin-top: 25px;
background-color: rgb(193,86,39);
color: white;
padding: 10px 10px;
border: none;
border-radius: 20px;
cursor: pointer;

}
.right h3{
font-size: 96px;
margin-top: 70px;
color:  rgb(26,65,34);

}
table{
border-collapse: collapse;
width: 90%;

}
th, td{
color: rgb(26,65,34);
padding: 10px 35px;
font-size: 24px;
text-align: left;
}
td{
color: grey
}
#Social_data{
color: rgb(26,65,34);
font-size: 19px;
line-height: 1.6;



}
.imageFourth{
position: relative;
max-width: 100%;
margin: auto;
margin-top: 200px;
}
.imageFourth-image{
width : 100%;
height: auto;
display: block;
}
.FourthDivText{
max-width: 70%;
}
.FourthDivText h4{

margin-top: 20px;
font-size: 85px;
color: rgb(26,65,34);
text-align: center;
margin-left: 410px;

}
.FourthDivText p{
text-align: center;
margin-left: 320px;
font-size: 18px;
line-height: 1.6;
color: rgb(26,65,34);
margin-top: 20px;

}
.button-fourth{
margin-top: 25px;
background-color:rgb(193,86,39);
color: white;
padding: 10px 20px;
border: none;
border-radius: 20px;
cursor: pointer;
margin-left: 570px;
}
.carousel-container {
position: relative;
}
.carousel {
overflow-x: hidden;
white-space: nowrap;
width : 100%;
margin : 0;
margin-top: 150px;
padding:0;
}
.carousel-inner {
display: inline-block;
font-size: 0;
margin-right: 0;
margin-left: 0;
padding: 0;
}
.image-container {
display: inline-block;
width: 58%;
margin-left: 0;
margin-right: 0;
padding: 0;
font-size: 0;
}
.image-container img {
width: 70%;

height: 550px;
display: block;
max-width: 100%;
}
.scrollbar {
position: absolute;
margin-top: 50px;
margin-left: 550px;
width : 200px;
height : 7px;
border : 1px solid rgb(26,65,34);
border-radius: 8px;

}
.scrollbar-thumb {
width : 20%;
height : 100%;
background-color: rgb(26,65,34);
border-radius: 5px;
cursor: pointer;
}
.farEnd{
width: 60%;
margin-top: 170px;
margin-left: 300px;
color: rgb(26,65,34);
}
.farEnd h2{
font-size: 96px;
margin-left: 70px;

}
.farEnd p {
font-size: 20px;
line-height: 1.5;
}
.video-wrapper2{
text-align: center;
margin-top: 150px;
}

.foodEnd{
width: 60%;
margin-top: 170px;
margin-left: 300px;
color: rgb(26,65,34);
}
.foodEnd h2{
font-size: 96px;
margin-left: 70px;

}
.foodEnd p {
font-size: 20px;
line-height: 1.5;
}
.foodEnd-button {
background-color: rgb(193,86,39);
color: white;
border-radius: 8px;
margin-left: 260px;
margin-top: 40px;

}
.mid-content {
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 110px;

}
.left-text, 
.right-text{
width:23%;


line-height: 1.4;
}
.left-text h3, 
.right-text h3{
font-size: 22px;
margin-bottom: 15px;


}
.left-text p, 
.right-text p{
color:  rgb(26,65,34);
font-size: 18px;
}
.mid-btn {
margin-bottom: 25px;

background-color: white;
color: rgb(193,86,39);
border: 1px solid rgb(193,86,39);
padding: 10px 10px;

}
.mid-img img{
border-radius: 180px 180px 0 0;
}